body{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    border: white 1px solid;
    border-radius: 1vw;
    position: sticky;
    top: 0;
    background: black;

}

.header #logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: auto;
    height: 15vw;
    position: relative;
    transition: 0.2s;
}
.header #title{
    margin-top: -1vw;
    text-align: center;
    color: #FFFF00;
    font-size: 2vw;
    font-family: 'Franklin Gothic Demi', sans-serif;
    transition: 0.2s;
}

.header #title, .header #logo{
    opacity: 0;
    animation: fadeIn 2s ease-in-out 6s forwards;

}
.no-animation {
    animation: none !important;
}

.header #blueText{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: cyan;
    font-size: 3vw;
    opacity: 0;
    animation: intro 5s ease-in-out 1s forwards;

}
#empty{
    height: 0;
    border: white 1px solid;

}
@keyframes intro {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.rectangle{
    background: #2b2b2b;
    border-radius: 1vw;
    border: #3e3e3e;
    border-width: thick;
    border-style: solid;

    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.rectangle #CharacterName{
    color: whitesmoke;
    text-align: center;
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1vw;

}

/* Buttons for character navigation*/
.CharMenu{
    float: left;
    height: 30vw;
    width: 8vw;
    border-radius: 1vw 0 0 1vw;
    background: #151515;
    display: flex;
    flex-direction: column;
}

.CharMenu button{
    height: 25%;
    background: #f6cd2a;
    box-shadow: none;
    border: black thick solid;

    font-family: 'Franklin Gothic Demi', sans-serif;
    font-weight: bolder;
    font-size: 1vw;
}
.CharMenu button:hover{
    background: #ba9a1d;
}
.CharMenu #firstBtn{
    border-radius: 1vw 0 0 0 ;
}
.CharMenu #lastBtn{
    border-radius: 0 0 0 1vw;
}

.rectangle #abtChar{
    display: block;
    width: auto;
    max-width: 50%;
    padding: 1vw 1vw 1vw 4vw;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Franklin Gothic Demi', sans-serif;
    height: auto;
    color: #d3d3d3;
    line-height: 1.5;
    float: left;
}
.rectangle #charImg {
    display: block;
    width: auto;
    height: 30vw;
    margin-left: auto;
    margin-top: 0;
}

.about{
    color: #ffff00;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Franklin Gothic Demi', sans-serif;
    font-weight: bolder;
    line-height: 2vw;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    z-index: -1;
}


.star::before, .star::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: white;
}

.star::before {
    transform: rotate(45deg);
}

.star::after {
    transform: rotate(-45deg);
}

.gallery{
    width: 80%;
    margin-right: auto;
}
.gallery #galleryTitle{

}
.gallery #imageHolder{
    background: #6a6a6a;
    border: #f6cd2a 4px solid;
    border-radius: 1vw;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

